{% extends 'base.html' %}
{% load static %}

{% block title %}mundarija{% endblock %}

{% block body %}

  <!-- textbook section start -->
  <section class="text-book__section contents-img">
    <div class="container center-center">
      <div class="presintation-title">
        <h3>
          Mundarija
        </h3>
      </div>
    </div>
  </section>
  <!-- textbook section  end -->

  <!-- content section start -->
  <section class="content-container">
    <div class="container-flued flex-start_center">

      <div class="iframe-theme theme-active  center-center">
        <div class="mavzu">
          <div class="content-title__box">
            <h3 class="content-title center-center">
              Mundarija
            </h3>
            <i class="fas fa-bars"></i>
          </div>
          <div class="content-title__box">
            <h3 class="content-title title-none center-center">
              I BOB. MS EXCEL 2010 DA AMALLAR VA FORMULALAR
            </h3>
          </div>
          <a href="{% static 'mundarija/mundarija1.html' %}" target="iframe_a" class="iframe-link"> 1 -dars. Sodda ifodalarni
            hisoblash</a>
          <a href="{% static 'mundarija/mundarija2.html' %}" target="iframe_a" class="iframe-link">2-dars. Katakka murojaat: nisbiy,
            absolyut va aralash murojaat</a>
          <a href="{% static 'mundarija/mundarija3.html' %}" target="iframe_a" class="iframe-link">3-dars. Murojaatdan foydalanib
            amal
            bajarishda nusxalashning afzalligi</a>
          <a href="{% static 'mundarija/mundarija4.html' %}" target="iframe_a" class="iframe-link">4-dars. Sodda va murakkab
            funksiyalarning grafiklari</a>
          <a href="{% static 'mundarija/mundarija5.html' %}" target="iframe_a" class="iframe-link">5-dars. Boshqa varaq yoki kitobga
            murojaat</a>
          <a href="{% static 'mundarija/mundarija6.html' %}" target="iframe_a" class="iframe-link">6-dars. MS Excelning funksiyalar
            kutubxonasi</a>
          <a href="{% static 'mundarija/mundarija7.html' %}l" target="iframe_a" class="iframe-link">7-dars. Funksiya argumenti
            oynasi</a>
          <a href="{% static 'mundarija/mundarija8.html' %}" target="iframe_a" class="iframe-link">8-dars. Formulalar satridan
            foydalanish</a>
          <a href="{% static 'mundarija/mundarija9.html' %}" target="iframe_a" class="iframe-link">9-dars. Matnli funksiyalar</a>
          <a href="{% static 'mundarija/mundarija10.html' %}" target="iframe_a" class="iframe-link">10-dars. Mantiqiy
            funksiyalar</a>
          <a href="{% static 'mundarija/mundarija11.html' %}" target="iframe_a" class="iframe-link">11-dars. Mustahkamlash uchun
            amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija12.html' %}" target="iframe_a" class="iframe-link">12-dars. Nazorat ishi</a>
          <a href="{% static 'mundarija/mundarija13.html' %}" target="iframe_a" class="iframe-link">13-dars. Matematik
            funksiyalar</a>
          <a href="{% static 'mundarija/mundarija14.html' %}" target="iframe_a" class="iframe-link">14-dars. Ko‘paytmani hisoblashga
            oid funksiyalar</a>
          <a href="{% static 'mundarija/mundarija15.html' %}" target="iframe_a" class="iframe-link">15-dars. Statistik
            funksialar</a>
          <a href="{% static 'mundarija/mundarija16.html' %}" target="iframe_a" class="iframe-link">16-dars. Mustahkamlash uchun
            amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija17.html' %}" target="iframe_a" class="iframe-link">17-dars. MS Excel yordamida
            ba’zi
            masalalarni yechish</a>
          <a href="{% static 'mundarija/mundarija18.html' %}" target="iframe_a" class="iframe-link">18-dars. Amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija19.html' %}" target="iframe_a" class="iframe-link">19-dars. Nazorat ishi</a>
          <div class="content-title__box">
            <h3 class="content-title title-none center-center">
              II BOB. MA’LUMOTLAR OMBORI
            </h3>
          </div>
          <a href="{% static 'mundarija/mundarija20.html' %}" target="iframe_a" class="iframe-link">20-dars. Ma’lumotlar ombori
            haqida
            tushuncha</a>
          <a href="{% static 'mundarija/mundarija21.html' %}" target="iframe_a" class="iframe-link">21-dars. Ma’lumotlar omborini
            boshqarish tizimlari</a>
          <a href="{% static 'mundarija/mundarija22.html' %}" target="iframe_a" class="iframe-link">22-dars. Amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija23.html' %}" target="iframe_a" class="iframe-link">23-dars. MS Access 2010 ning
            asosiy elementlari va maydonlar xususiyati</a>
          <a href="{% static 'mundarija/mundarija24.html' %}" target="iframe_a" class="iframe-link">24-dars. Amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija25.html' %}" target="iframe_a" class="iframe-link">25-dars. MS Access 2010 da
            ma’lumotlar omborini tashkil etish</a>
          <a href="{% static 'mundarija/mundarija26.html' %}" target="iframe_a" class="iframe-link">26-dars. Amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija27.html' %}" target="iframe_a" class="iframe-link">27-dars. MS Access 2010 da
            jadvallarni o‘zaro bog‘lash</a>
          <a href="{% static 'mundarija/mundarija28.html' %}" target="iframe_a" class="iframe-link">28-dars. Amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija29.html' %}" target="iframe_a" class="iframe-link">29-dars. MS Access 2010 da
            ma’lumotlarni berilgan shablon bo‘yicha izlash va qayta ishlash</a>
          <a href="{% static 'mundarija/mundarija30.html' %}" target="iframe_a" class="iframe-link">30-dars. MS Access 2010 da
            ma’lumotlar omborini hosil qilish va tahrirlashda formalardan foydalanish</a>
          <a href="{% static 'mundarija/mundarija31.html' %}" target="iframe_a" class="iframe-link">31-dars. Amaliy mashg‘ulot</a>
          <a href="{% static 'mundarija/mundarija32.html' %}" target="iframe_a" class="iframe-link">32-dars. MS acces 2010 da
            matematik amallarni bajarish</a>
          <a href="{% static 'mundarija/mundarija33.html' %}" target="iframe_a" class="iframe-link">33-dars. Takrorlashga doir
            topshiriqlar</a>
          <a href="{% static 'mundarija/mundarija34.html' %}" target="iframe_a" class="iframe-link">34-dars. Nazorat ishi</a>
          <div class="content-title__box">
            <h3 class="content-title title-none center-center">
              III BOB. DELPHI MUHITIDA ILOVALAR YARATISH
            </h3>
          </div>
          <a href="{% static 'mundarija/mundarija35.html' %}" target="iframe_a" class="iframe-link">35-dars. Ilovalar yaratishning
            zamonaviy usullari</a>

          <a href="#" target="iframe_a" class="iframe-link">36-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">37-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">38-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">39-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">40-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">41-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">42-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">43-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">44-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">45-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">46-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">47-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">48-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">49-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">50-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">51-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">52-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">53-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">54-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">55-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">56-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">57-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">58-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">59-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">60-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">61-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">62-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">63-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">64-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">65-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">66-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">67-dars</a>
          <a href="#" target="iframe_a" class="iframe-link">68-dars</a>
        </div>
      </div>

      <div class="iframe-text theme-active ">
        <iframe src="../mundarija/so'zboshi.html" frameborder="0" name="iframe_a"></iframe>
      </div>

    </div>
  </section>
  <!-- content section end -->


  <script>
    const burgerBtn = document.querySelector(".burger-btn"),
      menu = document.querySelector(".menu"),
      menuItems = document.querySelector(".menu-items");

    burgerBtn.addEventListener("click", () => {
      menuItems.classList.toggle("active-btn");
      menu.classList.toggle("active-btn");
    });

    const keyLink = document.querySelectorAll('.iframe-link');

    keyLink.forEach((item, index) => {
      item.addEventListener("click", function () {
        keyLink.forEach((item) => {
          item.classList.remove("k-click");
          this.classList.add("k-click");
        });
        console.log(item)
      });
    });

    const iframeBtn = document.querySelector(".content-title__box i.fas.fa-bars"),
      themeBox = document.querySelector(".iframe-theme"),
      iframeText = document.querySelector(".iframe-text");

    iframeBtn.addEventListener("click", () => {
      themeBox.classList.toggle("theme-actives");
      iframeText.classList.toggle("theme-actives");
    })
  </script>

{% endblock %}