{% extends 'base.html' %}
{% load static %}

{% block title %} taqdimotlar {% endblock %}

{% block body %}

  <!-- prisintation section start -->
  <section class="presontation-section">
    <div class="container center-center">
      <div class="presintation-title">
        <h3>
          Taqdimotlar
        </h3>
      </div>
    </div>
  </section>
  <!-- prisintation section end -->

  <!-- prisintation container start -->
  <section class="presintation-container">
    <div class="container flex-start__space-evenly">

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

      <a href="#" class="pre-link">
        <div class="pre-box center-flex__start">
          <div class="pre-icon center-center">
            <img src="{% static 'img/ppt.png' %}" alt="">
          </div>
          <div class="pre-title center-flex__start">
            <p>
              Lesson one
            </p>
          </div>
        </div>
      </a>

    </div>
  </section>
  <!-- prisintation container end -->

{% endblock %}