{% extends 'base.html' %}
{% load static %}

{% block title %} kitoblar {% endblock %}

{% block body %}
  <!-- textbook section start -->
  <section class="text-book__section">
    <div class="container center-center">
      <div class="presintation-title">
        <h3>
          Darsliklar
        </h3>
      </div>
    </div>
  </section>
  <!-- textbook section  end -->

  <!-- textbook container start -->
  <section class="sample-container textbooks">
    <div class="container center-space__evenly">

      <a href="{% static 'book/Elektron jadval.pdf' %}">
        <div class="book-sample center-space__between">
          <div class="book-img center-center">
            <img src="{% static 'img/excell.png' %}" alt="">
          </div>
          <div class="book-title__box center-center">
            <h4 class="book-title">
              Elektron jadvallarni qayta
              ishlashda jadval protsessorining
              funksional imkoniyatlari
            </h4>
          </div>
        </div>
      </a>

      <a href="{% static 'book/Delphi qollanma.@PascalABC.pdf' %}">
        <div class="book-sample center-space__between">
          <div class="book-img center-center">
            <img src="{% static 'img/delphi.png' %}" alt="">
          </div>
          <div class="book-title__box center-center">
            <h4 class="book-title">
              Delphhi tilida dasturlash asoslari
            </h4>
          </div>
        </div>
      </a>

    </div>
  </section>
  <!-- textbook container  end -->

{% endblock %}