{% extends 'base.html' %}
{% load static %}

{% block title %} vedio {% endblock %}

{% block body %}
  <!-- video about title start -->
  <section class="video-title">
    <div class="container center-center">
      <div class="video-play__title center-center">
        <h3>
          Video Darsliklar
        </h3>
      </div>
      <div class="play-btn">
        <i class="fas fa-play"></i>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </section>
  <!-- video about title end -->

  <!-- video container start -->
  <section class="video-container">
    <div class="container flex-start__space-evenly">

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/1.Excelda ishlash..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/1.Excelda ishlash..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            1-dars. Excelda ish boshlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/2.Excel Jadvallar bilan ishlash..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/2.Excel Jadvallar bilan ishlash..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            2-dars. Excel Jadvallar bilan ishlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/3.Excel Cell bilan ishlash..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/3.Excel Cell bilan ishlash..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            3-dars. Excel Cell bilan ishlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/4.Excel sonlarni formatlash..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/4.Excel sonlarni formatlash..mp4' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            4-dars. Excel sonlarni formatlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/5. Excel Worksheet bilan ishlash..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/5. Excel Worksheet bilan ishlash..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            5-dars. Excel Worksheet bilan ishlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/6. Excel Ma`lumotdan nusxa olish va ko`chirish..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/6. Excel Ma`lumotdan nusxa olish va ko`chirish..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            6-dars. Excel Ma`lumotdan nusxa olish va ko`chirish.
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/7. Qator va satirlada ishlash..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/7. Qator va satirlada ishlash..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            7-dars. Qator va satirlada ishlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/8. Excel Jadval bilan ishlash. 1-Qism.mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/8. Excel Jadval bilan ishlash. 1-Qism.ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            8-dars. Excel Jadval bilan ishlash(1-Qism)
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/9. Excel Jadvalda ishlashning  davomi. 2-Qism.mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/9. Excel Jadvalda ishlashning  davomi. 2-Qism.ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            9-dars. Excel Jadval bilan ishlash(2-Qism)
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/10. Excel Table davomi. 3-Qism.mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/10. Excel Table davomi. 3-Qism.ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            10-dars. Excel Jadval bilan ishlash(3-Qism)
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/11. Excel Worksheet formatlash..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/11. Excel Worksheet formatlash..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            11-dars. Excel Worksheet formatlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/12. Excel Marge bilan ishlash.mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/12. Excel Marge bilan ishlash.ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            12-dars. Excel Marge bilan ishlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/13. Excel Taxrirlashga qo`shimchalar..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/13. Excel Taxrirlashga qo`shimchalar..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            13-dars. Excel Taxrirlashga qo`shimchalar
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/14. Excel Format painter va worksheeti himoyalash..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/14. Excel Format painter va worksheeti himoyalash..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            14-dars. Excel Format painter va worksheeti himoyalash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/15. Excel Shablon va printdan foydalanish..mp4' %}"
              type=" video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/15. Excel Shablon va printdan foydalanish..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            15-dars. Excel Shablon va printdan foydalanish
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/16. Excel Excelda sodda amallar bajarish..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/16. Excel Excelda sodda amallar bajarish..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            16-dars. Excel Marge bilan ishlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/17. Excel Son ketma ketliglari..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/17. Excel Son ketma ketliglari..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            17-dars. Excel Son ketma ketliglari
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/18. Excel Ajoyib funksiyalar..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/18. Excel Ajoyib funksiyalar..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            18-dars. Excel funksiyalar
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/19. Excel Qatorlardan to`g`ri foydalanish..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/19. Excel Qatorlardan to`g`ri foydalanish..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            19-dars. Excel Qatorlardan to`g`ri foydalanish
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/20. Excel Formulalarni jadvalda  qilish..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/20. Excel Formulalarni jadvalda  qilish..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            20-dars. Excel Formulalarni jadvalda tayyorlash
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/21. Excel String funksiya..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/21. Excel String funksiya..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            21-dars. Excel String funksiya(1-Qism)
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/22. Excel String boshqa funksiyalari..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/22. Excel String boshqa funksiyalari..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            22-dars. Excel String funksiya(2-Qism)
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/23. Excel Zerikarli sana va soatlar..mp4' %}"
              type="video/mp4">
            <source
              src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/23. Excel Zerikarli sana va soatlar..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            23-dars. Excelda sana va saotlar bilan ishlash (1-Qism)
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/24. Excel Sana davomi..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/24. Excel Sana davomi..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            24-dars. Excelda sana va saotlar bilan ishlash (2-Qism)
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/25. Excel Count funksiyasi..mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/MS Excel darslari (Muallif - Adxam muzaffarov)/25. Excel Count funksiyasi..ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            25-dars. Excel Count funksiyasi
          </p>
        </div>
      </div>

      <div class="video-box">
        <div class="content-video ">
          <video controls>
            <source src="{% static 'video/Accsess/Ms_Access_2010_да_маълумотлар_омборини_ташкил_этиш_мавзусида_видеодарс.mp4' %}"
              type="video/mp4">
            <source src="{% static 'video/Accsess/Ms_Access_2010_да_маълумотлар_омборини_ташкил_этиш_мавзусида_видеодарс.ogg' %}"
              type="video/ogg">
          </video>
        </div>
        <div class="video-subtitle center-center">
          <p class="video-sub__title">
            26-dars. Accsess 2010 da ma'lumotlar omborini tashkel etish
          </p>
        </div>
      </div>

    </div>
  </section>
  <!-- video container end -->

{% endblock %}